*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // 10px div by def of 16px
    font-size: 62.5%;
}

body,html {
    box-sizing: border-box;
    min-height: 100vh;
}

a{
    text-decoration: none;
    color: inherit;
}

li,ul{
    list-style: none;
}