.message{
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: absolute;
  padding: 1.7rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;

  padding-top: 8rem;
  padding-bottom: 5rem;

  & .chat{
    background-color: $colour-white;
    margin-bottom: 1rem;
    border-radius: .6rem;
    box-shadow: 1px 1px 5px #ccc ;
    padding-bottom: 1.5rem;
    position: relative;

    & > img{
      position: absolute;
      top: -1.04rem;
      left: -1.8rem;
      z-index: 1;
    }

    &--you{
      justify-self: flex-end;
      align-self: flex-end;
      &  img{
        position: absolute;
        top: -1.04rem;
        right: -1.8rem !important;
        left: initial;
      }
      color: $colour-back-1;
      background-color: lighten($color: $colour-primary, $amount: 25);
    }

    &__name{
      font-size: 1.8rem;
      color: $red-name;
    }
    &__message{
      position: relative;
      font-size: 1.5rem;
      z-index: 5;
      // background-color: red;
      padding: 1rem;
      font-weight: 400;
    }
    max-width: 70%;
    width: auto;

    &__time{
      font-size: 1.3rem;
      color: lighten($color: $colour-back-2, $amount: 10);
      position: absolute;
      right: 5px;
      bottom: 2px;
    }
    
  }

  &__footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem .8rem;
    display: flex;
    justify-content: space-between;
    z-index: 5;
    align-items: center;

    form{
      background-color: $colour-white;
      display: flex;
      align-items: flex-end;
      padding: 0.4rem .9rem;
      border-radius: 2rem;
      height: auto;
      width: calc(100% - 5rem);
      justify-content: space-between;
      box-shadow: 1px 1px 5px lighten($color: $colour-back-2, $amount: 20) ;

      textarea{
        padding: 0.5rem;
        font-size: 1.8rem;
        width: 60%;
        border: none;
        outline: none;
      }
      & img:first-of-type{
        width: 2.6rem;
        height: 2.6rem;
        position: relative;
        bottom: 0.37rem;
      }
      & img:nth-child(3){
        width: 2.8rem;
        height: 2.8rem;
        transform: rotate(-35deg);
        margin-right: 1rem;
        position: relative;
        bottom: 0.34rem;
      }
      & img:last-of-type{
        width: 2.6rem;
        height: 2.6rem;
        position: relative;
        bottom: 0.34rem;
        right: 0.2rem;
      }
    }

    & > .voice{
      background-color: $colour-secondary;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: .7rem;
      border-radius: 50%;
      img{
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}